body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: black;
  }

  h4 {
    color: black;
  }

  p {
    color: black;
  }

a:link {
    color: black;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: maroon;
  }
  
  a:active {
    color: blue;
  }